@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .bg-accent-gradient {
    @apply bg-gradient-to-tl from-accent via-accent/80 to-accent/50 text-surface;
  }
}

:root,
html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f8f8f8;
}

.cl-signUp-root .cl-footer {
  display: none;
}

.cl-signIn-root .cl-footer {
  display: none;
}

.ant-upload-btn:has(#file-uploader-custom-id) {
  height: 25vh;
}

.cl-userButtonPopoverRootBox .cl-userButtonPopoverFooter {
  display: none;
}

.cl-userProfile-root .cl-navbar:last-child {
  display: none;
}

/* Selected option in the dropdown menu */
.ant-select-item-option-selected {
  background-color: #8c14ff !important; /* Customize selected option background */
  color: #fff !important;               /* Customize selected option text color */
}

/* Customize hover effect in the dropdown */
.ant-select-item-option-active {
  background-color: #8c14ff !important; /* Customize hover background */
  color: #fff !important;               /* Customize hover text color */
}
